body{
    background: linear-gradient(40deg, #fdfdfd 30%, darkgrey);
    font-size: 17px;
    margin-bottom: 60px;
}

html{
    position: relative;
    min-height: 100%;
}

.shadow{
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}

.btn-danger{
    color: #fff;
    background-color: #f00000;
    border-color: #dc281e;
}

.masthead{
    background: linear-gradient(40deg, #3398E1 30%, darkgrey);
    height: auto;
    padding-bottom: 15px;
    box-shadow: 0 16px 48px #E3E7EB;
    padding-top: 10px;
}

.card{
    box-shadow: 0 16px 48px #E3E7EB;
}

footer{
    position: absolute;
    padding-top: 10px !important;
    bottom: 0;
    width: 100%;
}