
{% block sidebar %}
    <div class="col-md-4 float-end">
        <div class="card my-4">
            <div class="card-header">About Us</div>
            <div class="card-body">
                <div class="card-text">
                    This is a blog made by some fantastic individuals using Django.
                    Follow for more content
                    <a href="#" class="btn btn-danger">Know More</a>
                </div>
            </div>
        </div>
    </div>
{% endblock sidebar %}
    